.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
*~
__pycache__/
*.py[cod]
*.so
.env
.venv
env/
venv/
*/.conda/
*.conda
.ipynb_checkpoints/
.vscode/
.idea/
*.code-workspace
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/
*.log
*.tmp
*.temp
*.bak
*.swp
*.swo
*.pt
*.pth
*.ckpt
outputs/
runs/
SAEVision/Images/
